button{
    background-color:rgb(102, 112, 190);
    border: none;
    border-radius: 20px;
    height: 50px;
    width: 100px;
}

button:hover{
    cursor: pointer;
    background-color:rgb(203, 131, 142);
}

button:active{
    cursor: pointer;
    background-color: aliceblue;
}

a{
    color:rgb(25, 112, 42);
    text-decoration: none;
}

a:visited{
    color:blue;
    font-style: italic;
}

a[href="stmikaputama.ac.id"]{
    color: rgb(178, 210, 15);
}

input[name="Jurusan"]{
    background-color: rgb(157, 189, 141);
    border: none;
    padding: 10px;
}